<%- include ../includes/header.ejs %>

<div id="resetPassword" class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="#" method="POST">
                <div class="form-group">
                     <label class="form-control-label" for="email">আপনার ই-মেইল/ইউজারনেম প্রবেশ করান</label>
                    <input class="form-control" type="text" name="email">   
                </div>
               
                <div class="form-group">
                    <label class="form-control-label" for="role">আপনার পদবী বাছাই করুন</label>
                    <select class="form-control" name="role">
                        <option value="এডমিন">এডমিন</option>
                        <option value="ফিল্ড অফিসার">ফিল্ড অফিসার</option> 
                        <option value="ভেরিফিকেশন অফিসার">ভেরিফিকেশন অফিসার</option>
                        <option value="প্রডাকশন অফিসার">প্রডাকশন অফিসার</option>
                    </select>
                </div>
                
                <input class="btn btn-block mt-2 btn-primary" type="submit" value="সাবমিট করুন">
            </form>
        </div>
    </div>
</div>

<%- include ../includes/footer.ejs %>