<%- include ../includes/header.ejs %>

    <title>হোল্ডিং নাম্বার প্লেট অর্ডার</title>
</head>

<body>
 <%- include('../includes/nav.ejs', {userRole: userRole}) %>
<h1 class="display-1">Working</h1>

<%- include ../includes/footer-text.ejs %> 
<%- include ../includes/footer.ejs %> 