

<div class="wrapper mt-5 text-center">
     <footer>
        <div class="py-3">
          বাস্তবায়নে  <a href="#">Village Economic Development Organization</a>
         </div>
    </footer>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>