<ul class="nav bg-secondary p-2">
    <li class="nav-item ">
        <a class="nav-link text-white" href="/dashboard?role=<%=currentUser.role%>"><span class="fa fa-home"></span>
            হোম</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/officers/<%=currentUser._id%>/"><span class="fa fa-user"></span>
            প্রোফাইল</a>
    </li>
    <li class="nav-item ml-auto">
        <form action="/auth/logout" method="POST">
            <button class="btn text-white" type="submit">লগ আউট</button>
        </form>
    </li>
</ul>