 <ul class="nav bg-secondary p-2">
        <li class="nav-item ">
            <a class="nav-link text-white" href="/dashboard?role=<%=userRole%>"><span class="fa fa-home"></span> হোম</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/profile/<%=userRole%>/"><span class="fa fa-user"></span> প্রোফাইল</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link text-white" href="/" tabindex="-1">লগ আউট</a>
        </li>
    </ul>