<!-- Search Assessment Info Modal -->
<div class="modal fade" id="searchAssessment">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="searchAssessmentLabel">
                    এসেসমেন্টের তথ্য খুঁজুন
                </h5>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">

                <form action="/orders?role=<%=userRole%>" method="POST"> 
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>ক্যাটাগরি বাছাই করুন<span>*</span></label>
                            <select name="filter" class="form-control" multiple>
                                <option disabled selected>বাছাই করুন.....</option>
                                <option value="assessment_id">এসেসমেন্ট আইডি</option>
                                <option value="holding">হোল্ডিং নং</option>
                                <option value="ward">ওয়ার্ড নং</option>
                                <option value="ownerName">মালিকের নাম</option>
                                <option value="holdingType">হোল্ডিং এর ধরন</option> 
                                <option value="block">ব্লক</option>
                                <option value="road">রাস্তা/মহল্লা</option>
                                <option value="mobile">মোবাইল নং</option> 
                                <option value="holdingName">হোল্ডিং এর নাম</option>
                                <option value="thana">থানা</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label >অনুসন্ধান তথ্য(একাধিক কি ওয়ার্ড কমা দিয়ে আলাদা করুন)<span>*</span></label>
                            <input type="text" name="keys" class="form-control" placeholder="উদাহরন - 177/A,18,1234,A"> 
                            <small class="text-danger">**হোল্ডিং নং, ওয়ার্ড নং, এসেসমেন্ট আইডি, ব্লক নং ইংরেজিতে লিখুন</small>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary"><span class="fa fa-search"></span> খুঁজুন</button> 
                </form>

            </div>
        </div>
    </div>
</div>