<%- include('includes/header.ejs') %>
<title><%=pageTitle%></title>
</head>

<body>
   <%- include('./includes/nav.ejs', {userRole: 'ফিল্ড অফিসার'}) %>
    <h1 class="text-center p-2 my-3 display-3 text-danger">Error! 404 page not found</h1>

<%- include('includes/footer.ejs') %>