<%- include('includes/header.ejs') %>
<title><%=pageTitle%></title>
</head>

<body>
   <%- include('./includes/nav.ejs', {userRole: 'ফিল্ড অফিসার'}) %> 
    <div class="text-center">
        <h1>Some error occured. Status code: 500</h1>
        <p>We are working on fixing this. Sorry for your inconvenience</p>
    </div>
    

<%- include('includes/footer.ejs') %>