<%- include includes/header.ejs %>
    <!-- <link rel="stylesheet" href="/css/app.css"> -->
    <title>Welcome to Landing Page</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-3 text-center font-weight-bold">MYMENSHINGH CITY CORPORATION</h1>
        <h2 class="heading text-center font-weight-bold p-4">ডিজিটাল হোল্ডিং এসেসমেন্ট এবং হোল্ডিং নাম্বার প্লেট বাস্তবায়ন প্রকল্প</h2>

         <div class="row mt-2">
                <div class="col-md-6 mx-auto text-center ">
                    <div class="mt-4"> 
                        <a href="/auth/login?role=এডমিন" class="btn btn-block btn-outline-success p-3">এডমিন</a>
                    </div>
                    
                     <div class="mt-4">
                        <a href="/auth/login?role=ফিল্ড অফিসার" class="btn btn-block btn-outline-success p-3">ফিল্ড অফিসার</a>
                    </div>
                    
                     <div class="mt-4">
                        <a href="/auth/login?role=ভেরিফিকেশন অফিসার" class="btn btn-block btn-outline-success p-3">ভেরিফিকেশন অফিসার</a> 
                    </div>
                    
                    <div class="mt-4">
                        <a href="/auth/login?role=প্রডাকশন অফিসার" class="btn btn-block btn-outline-success p-3">প্রডাকশন অফিসার</a>
                    </div>

                     <div class="mt-4">
                        <a href="/form" class="btn btn-block btn-outline-success p-3">অনুসন্ধান</a>
                    </div>
                </div> 
            </div>
        
    </div>
<%- include includes/footer-text.ejs %>

<%- include includes/footer.ejs %>