h2.heading {
  color: red;
}

a.btn.p-3 {
  font-size: 22px;
  font-stretch: 1.1;
  font-weight: bold;
  color: black;
}

#resetPassword {
  margin-top: 170px;
}

#formHeader {
  margin-top: 20px;
}

label>span {
  color: red;
}

.wrapper {
  display: flex;
  justify-content: center;

}

footer {
  flex: 0 0 auto;
  display: flex;
  color: black;
  margin: 1em;
  padding: 1em;
  width: 100%;
  border-top: 1px solid blue;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
}