<%- include ../includes/header.ejs %>
    <title>অর্ডার</title>
</head> 

<body>
    <div class="container">
        <div class="text-center mt-3">
            <h1 class=" font-weight-bold">ময়মনসিংহ সিটি কর্পোরেশন</h1>
            <h4>নগর ভবন, ময়মনসিংহ</h4>
        </div>

        <!-- <div id="formHeader" class="text-center mb-5">
            <h4 class="bg-dark text-white p-1 font-weight-bold d-inline">তথ্য বিবরণী ফরম</h4>
        </div> -->

        <div class="mt-5">
            <h4 class="text-center">স্বাগতম! আপনার প্রদানকৃত সকল তথ্য ডাটাবেজে হালনাগাদ করা হয়েছে</h4>
            <h4 class="text-center">আপনার এসেসমেন্ট আইডি - <span class="text-danger">12345</span>. এই আইডিটি সংরক্ষণ করুন</h4>
        </div>

        <div class="mt-5 text-center">
            <h3 class="text-primary">আপনি কি হোল্ডিং নাম্বার প্লেট অর্ডার করতে চান?</h3>
            <div class="row">
                <div class="col-md-3 my-2 mx-auto">
                    <a class="btn btn-success btn-block" href="#">হ্যাঁ</a>
                </div>
                <div class="col-md-3 my-2 mx-auto"> 
                    <a class="btn btn-danger btn-block" href="#">না</a>
                </div>
            </div>
            
        </div>
</body>


<%- include ../includes/footer-text.ejs %>
<%- include ../includes/footer.ejs %>